<div class="container flex content-center py-20">
<div class="card">
  <h2 class="text-xl text-bold-font mb-4">Connexion</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
    <div class="mb-4">
      <%= f.label :email, class: "label" %>
      <%= f.text_field :email, autofocus: true, input_html: { autocomplete: "email" }, class: "input" %>
    </div>
    <div class="mb-4">
      <%= f.label :password, class: "label" %>
      <%= f.password_field :password, input_html: { autocomplete: "current-password" }, class: "input" %>
     
    </div> 
    </div>

    <div class="form-actions">
      <%= f.submit "Connexion", class: "btn" %>
    </div>
  <% end %>
</div>
</div>
