
<%= form_with model: @chapter do |f| %>
  
  <div class="form-inputs">
    <%= f.text_field :title %><br/>
    <%= f.label :thumbnail %>
    <%= f.file_field :thumbnail %><br/>
    <%= f.label :image %>
    <%= f.file_field :image %><br/>
    <%= f.rich_text_area :body %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
