<style>
  body {
    background-image: url("https://active-storage-rails-app.s3.eu-west-3.amazonaws.com/eso1006a.jpg");
    background-position: center;
    background-size: 100%;
  }
</style>

<% @chapters.each do |chapter| %>
  <div class="card max-w-lg">
    <%= link_to chapter do %>
      <%= image_tag chapter.optimized_image(chapter.thumbnail, 500, 100) %>
      <div class="chapter-title my-2">
        <%= "Unité #{ chapter.id }" %>
      </div>
      <div class="text-gray-700 text-base">
        <%= chapter.body.to_plain_text.truncate_words(10) %>
      </div>
    <% end %>
  </div>
<% end %>
<div class="apple_pagination">
  <%= will_paginate @chapters %>
</div>
