<!DOCTYPE html>
<html lang="fr" class="h-full">
  <head>
    <title>Sfantasy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="preload" as="font" href="https://fonts.gstatic.com/s/qwigley/v10/1cXzaU3UGJb5tGoCiVtmig.woff2" type="font/woff2" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="h-full">
    <% if admin_signed_in? %>
      <nav class="p-2">
      <% if controller.action_name == "index" %>
        <%= link_to "Nouvelle Unité", new_chapter_path, class: "btn inline-block"  %>
      <% elsif controller.action_name == "show" %>
        <%= link_to "Editer l'Unité", edit_chapter_path, class: "btn inline-block"  %>
      <% end %>
        <%= link_to current_admin.email, edit_admin_registration_path, class: "btn inline-block" %>
        <%= link_to "Déconnexion", destroy_admin_session_path, method: :delete, class: "btn inline-block" %>
      </nav>
    <% end %>
    <p class="ml-10 notice text-white"><%= notice %></p>
    <p class="ml-10 alert text-white"><%= alert %></p>

    <%= yield %>
  </body>
</html>
